@charset 'utf-8';

@function rem($px) {
  @return ($px/100px) * 1rem;
}

@mixin text-overflow($line: 1) {
  overflow: hidden;

  @if $line==1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @else {
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}