@charset 'utf-8';

/* reset v1.4 pc */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
button,
input,
textarea,
select,
td,
th,
blockquote,
pre,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

b,
em,
i,
small,
th {
  font-size: 100%;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

iframe {
  display: block;
  border: 0;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
  border-radius: 0;
}

embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.clearfloat:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}

.clearfloat {
  *zoom: 1;
}

.clearboth {
  clear: both;
}

/* reset v1.4 pc */

// mobile
// 定义设计的字体大小为100px 根据设计的尺寸 计算对应的vw 推荐设计稿为 750
// vw为响应单位 来做适配
$desingSize: 750;
$htmlSize: 100vw / ($desingSize/100);

html {
  font-size: 100px !important;
}

@media screen and (max-width:750px) {
  html {
    font-size: $htmlSize !important;
  }
}

html {
  touch-action: manipulation;
}

body {
  max-width: 750px;
  margin: 0 auto;
  -webkit-touch-callout: none;
  user-select: none;
}

img {
  max-width: 100%;
  height: auto;
}

//干掉input[search]默认的clear button
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}