@charset 'utf-8';

.w1200 {
  width: 1200px;
  margin: auto;
}

// margin 0-100
@for $i from 0 to 101 {
  @if ($i%10==0) {
    .mt-#{$i} {
      margin-top: $i+0px;
    }

    .mb-#{$i} {
      margin-bottom: $i+0px;
    }

    .ml-#{$i} {
      margin-left: $i+0px;
    }

    .mr-#{$i} {
      margin-right: $i+0px;
    }
  }
}

// padding 0-100
@for $i from 0 to 101 {
  @if ($i%10==0) {
    .pt-#{$i} {
      padding-top: $i+0px;
    }

    .pb-#{$i} {
      padding-bottom: $i+0px;
    }

    .pl-#{$i} {
      padding-left: $i+0px;
    }

    .pr-#{$i} {
      padding-right: $i+0px;
    }
  }
}

// height 0-100
@for $i from 0 to 101 {
  @if ($i%10==0) {
    .h-#{$i} {
      height: $i+0px;
    }
  }
}

// layout
.d-ib {
  display: inline-block;
}

.d-b {
  display: block;
}

.d-n {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-c {
  display: flex;
  align-items: center;
}

.d-flex-bd {
  flex: 1;
}

.v-top {
  vertical-align: top;
}

.v-mid {
  vertical-align: middle;
}

.v-bot {
  vertical-align: bottom;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.m-auto {
  margin: auto;
}

.c-poi {
  cursor: pointer;
}

.c-def {
  cursor: default;
}

.o-hid {
  overflow: hidden;
}

.o-auto {
  overflow: auto;
}

// font style
.f0 {
  font-size: 0
}

.f12 {
  font-size: 12px
}

.f13 {
  font-size: 13px
}

.f14 {
  font-size: 14px
}

.f16 {
  font-size: 16px
}

.f18 {
  font-size: 18px
}

.f20 {
  font-size: 20px
}

.f24 {
  font-size: 24px
}

.f28 {
  font-size: 28px
}

// text-align
.tc {
  text-align: center
}

.tr {
  text-align: right
}

.tl {
  text-align: left
}

.tj {
  text-align: justify
}

// color
.f-999 {
  color: #999;
}

.f-666 {
  color: #666;
}

.f-white {
  color: #fff;
}

.f-green {
  color: #01cf97;
}

.f-orange {
  color: #f28c48;
}

.f-red {
  color: #f4615c;
}

.lh15 {
  line-height: 1.5;
}

.lh18 {
  line-height: 1.8;
}

.lh20 {
  line-height: 2;
}

.f-bold {
  font-weight: bold;
}

.f-normal {
  font-weight: normal;
  font-style: normal;
}

.f-italic {
  font-style: italic;
}